.App {
  max-width: 600px;
  margin: 30px auto;
}
.App footer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #2f2d2d;
  font-size: 10px;
  margin: 10px 0;
}
